html {
    background-image: linear-gradient(150deg,#DC143B , #A0001F );
    color: #620013;
    font-family: Arial, Helvetica, sans-serif;

}
h1 {
    margin: auto;
    margin-bottom: 10px;
    text-transform: uppercase;
    font: 48px Helvetica;
    font-weight: bold;
}
h2 {
    margin: auto;
    font:  21px Helvetica;
}
body {
    border-radius: 15px;
    margin: 5% 15% 5% 15%;
    padding: 5% 0% 5% 0%;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background-color: #F7D8DE;
    box-shadow: 10px 7px 5px #620013;
}
hr {
    color: #DC143B;
    width:80%;
    border: 1px solid #DC143B;
}
form {
    display: flex;
    width: 80%;
    opacity: 80%;
    flex-direction: column;
    align-items: stretch;
    align-content: space-around;
    justify-content: center;
    color: #620013;
    
}

select {
    height: auto;
    
    background-color: rgb(247, 216, 222);
    color: inherit;
    border-radius: 10px;
    border: 1px solid #EB617C;
    padding: 5px 5px 5px 10px;
}
input[type=number] {
    height: auto;
    background-color: rgb(247, 216, 222);
    color: inherit;
    border-radius: 10px;
    border: 1px solid #EB617C;
    padding: 5px 5px 5px 15px;
}

button {
    background-color: #DC143B;
    color: #F7D8DE;
    padding: 5px 5px 5px 5px;
    font: inherit;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #EB617C;
    border-radius: 10px;
}
::placeholder {
    color: #620013;
}
.main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    width: 100%;
    text-align: center;
    padding: 20px 10px 20px 10px;
    background-color: rgb(160, 0, 31, 0.15);
    
    
}

.copyright {
    position: relative;
    background-color: #E7BA0E;
    color: #620013;
    padding: 5px 20px 5px 20px;
    border: 1px solid #620013;
    border-radius: 25px;
}